Repository openlitedotdev/ui, pull requests merged in 2024-04, with the labels that each got.

#70 feat(react): new component `sheet` (#63)
  README.md
  examples/with-nextjs/app/page.tsx
  examples/with-nextjs/components/sheet-example.tsx
  packages/react/src/components/sheet.tsx
  packages/react/src/index.ts
Labels: feat

#90 feat(react): new component skeleton (#36)
  README.md
  examples/with-vitejs/src/App.tsx
  packages/react/src/components/skeleton.tsx
  packages/react/src/index.ts
Labels: feat

#103 feat(react): new component progress (#102)
  README.md
  examples/with-vitejs/src/App.tsx
  packages/react/package.json
  packages/react/src/components/progress.tsx
  packages/react/src/index.ts
  pnpm-lock.yaml
Labels: react, feat

#107 feat(react): new component popover (#106)
  README.md
  examples/with-vitejs/src/App.tsx
  packages/react/package.json
  packages/react/src/components/popover.tsx
  packages/react/src/index.ts
  pnpm-lock.yaml
Labels: react, feat

#109 feat(react): new component calendar
  README.md
  examples/with-vitejs/src/App.tsx
  packages/react/package.json
  packages/react/src/components/calendar.tsx
  packages/react/src/index.ts
  pnpm-lock.yaml
Labels: react, feat

#112 chore: add outputs on build command
  turbo.json
Labels: bug, tools

#114 feat(reat): new component accordion
  README.md
  packages/react/package.json
  packages/react/src/components/accordion.tsx
  packages/react/src/index.ts
  pnpm-lock.yaml
Labels: react, feat

#118 feat(react): new component data-picker
  README.md
  packages/react/package.json
  packages/react/src/components/data-picker.tsx
  packages/react/src/index.ts
  pnpm-lock.yaml
Labels: react, feat

#120 feat(web): added the logo and dashboard image
  apps/web/components/Demo.tsx
  apps/web/components/Header.tsx
  apps/web/components/Home.tsx
  apps/web/components/Info.tsx
  apps/web/public/openui-logo.svg
  apps/web/public/png/demo-dashboard.png
Labels: bug

#127 chore(react): add exports lib components
  apps/docs/package.json
  apps/docs/tailwind.config.js
  apps/web/components/Demo.tsx
  apps/web/components/Header.tsx
  apps/web/components/Home.tsx
  apps/web/package.json
  apps/web/public/demo-dashboard.png
  apps/web/tailwind.config.ts
  packages/react/package.json
  packages/react/src/components.ts
  packages/react/src/index.ts
  packages/react/tsup.config.ts
  pnpm-lock.yaml
Labels: react, tools

#129 feat(react): new componet tabs
  README.md
  packages/react/package.json
  packages/react/src/components.ts
  packages/react/src/components/tabs.tsx
  pnpm-lock.yaml
Labels: react, feat

#130 build(react): new version @openui/react v1.5.0
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: react

#131 feat(react): new component slider
  README.md
  packages/react/src/components.ts
  packages/react/src/components/slider.tsx
Labels: react, feat

#156 feat(docs): translates component accordion to spanish
  docs/pages/docs/_meta.es-ES.json
  docs/pages/docs/accordion.es-ES.mdx
  pnpm-lock.yaml
Labels: doc, feat, web

#160 fix(docs): fixed lateral menu for documentation
  docs/pages/docs/_meta.es-ES.json
Labels: doc, web, fix

#171 feat(docs): the card component was documented
  docs/pages/docs/card.en-US.mdx
  docs/pages/docs/card.es-ES.mdx
Labels: doc, feat, web

#172 docs: add component badge
  docs/pages/docs/accordion.en-US.mdx
  docs/pages/docs/accordion.es-ES.mdx
  docs/pages/docs/badge.en-US.mdx
  docs/pages/docs/badge.es-ES.mdx
  examples/with-nextjs/.eslintrc.json
  examples/with-nextjs/.gitignore
  examples/with-nextjs/CHANGELOG.md
  examples/with-nextjs/README.md
  examples/with-nextjs/app/favicon.ico
  examples/with-nextjs/app/globals.css
  examples/with-nextjs/app/layout.tsx
  examples/with-nextjs/app/page.tsx
  examples/with-nextjs/components/button.tsx
  examples/with-nextjs/components/checkbox.tsx
  examples/with-nextjs/components/sheet-example.tsx
  examples/with-nextjs/components/test-dialog.tsx
  examples/with-nextjs/next.config.mjs
  examples/with-nextjs/package.json
  examples/with-nextjs/postcss.config.js
  examples/with-nextjs/public/next.svg
  examples/with-nextjs/public/vercel.svg
  examples/with-nextjs/tailwind.config.ts
  examples/with-nextjs/tsconfig.json
  examples/with-vitejs/.eslintrc.cjs
  examples/with-vitejs/.gitignore
  examples/with-vitejs/CHANGELOG.md
  examples/with-vitejs/README.md
  examples/with-vitejs/index.html
  examples/with-vitejs/package.json
  examples/with-vitejs/postcss.config.js
  examples/with-vitejs/public/bghome.png
  examples/with-vitejs/public/vite.svg
  examples/with-vitejs/src/App.tsx
  examples/with-vitejs/src/assets/react.svg
  examples/with-vitejs/src/index.css
  examples/with-vitejs/src/main.tsx
  examples/with-vitejs/src/test-dialog.tsx
  examples/with-vitejs/src/vite-env.d.ts
  examples/with-vitejs/tailwind.config.js
  examples/with-vitejs/tsconfig.json
  examples/with-vitejs/tsconfig.node.json
  examples/with-vitejs/vite.config.ts
Labels: doc, feat, web

#173 feat(docs): the table component was documented
  docs/pages/docs/table.en-US.mdx
  docs/pages/docs/table.es-ES.mdx
Labels: doc, feat, web

#174 feat(docs): the menu component was documented
  docs/pages/docs/_meta.en-US.json
  docs/pages/docs/_meta.es-ES.json
  docs/pages/docs/menu.en-US.mdx
  docs/pages/docs/menu.es-ES.mdx
Labels: doc, feat, web

#179 docs: the slider component was documented
  docs/pages/docs/slider.en-US.mdx
  docs/pages/docs/slider.es-ES.mdx
Labels: doc, feat, web

#182 docs: import of the slider component has been fixed
  docs/components/description.jsx
  docs/components/home.jsx
  docs/components/logo.jsx
  docs/components/open-sources.jsx
  docs/components/presentation-componenets.jsx
  docs/components/use-locales.jsx
  docs/lib/cn.ts
  docs/pages/docs/slider.en-US.mdx
  docs/pages/docs/slider.es-ES.mdx
  docs/theme.config.jsx
  pnpm-lock.yaml
Labels: doc, web, fix

#183 docs: add new component Label
  docs/pages/docs/label.en-US.mdx
  docs/pages/docs/label.es-ES.mdx
Labels: doc, feat, web

#184 docs: add new component Tooltip
  docs/pages/docs/tooltip.en-US.mdx
  docs/pages/docs/tooltip.es-ES.mdx
Labels: doc, feat, web

#186 docs: add new component Tabs
  docs/components/logo.jsx
  docs/components/use-locales.jsx
  docs/pages/docs/tabs.en-US.mdx
  docs/pages/docs/tabs.es-ES.mdx
  docs/theme.config.jsx
Labels: doc, feat, web

#189 docs: add new component Popover
  docs/components/logo.jsx
  docs/components/use-locales.jsx
  docs/pages/docs/breadcrumb.en-US.mdx
  docs/pages/docs/popover.en-US.mdx
  docs/pages/docs/popover.es-ES.mdx
  docs/theme.config.jsx
Labels: doc, feat, web

#191 docs: add component progress
  docs/pages/docs/progress.en-US.mdx
  docs/pages/docs/progress.es-ES.mdx
Labels: doc, feat, web

#208 feat(theme): added new component button
  .vscode/setting.json
  packages/components/react/button/button.tsx
  packages/components/react/button/index.ts
  packages/components/react/index.ts
  packages/components/react/src/components/button.tsx
  packages/theme/src/components/button.ts
  packages/theme/src/components/index.ts
Labels: feat, theme
